:root{
    /* Colores */
    --color-facebook: #4267B2;
    --color-instagram:#F77737;
    --color-whatsapp:#25D366;
    --color-phone:#FF5A5F;
    --bg-color: #45bca8;
    --bg-color-gradient: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(69,188,168,.5) 100%);
    --bg-color-gradient-footer: linear-gradient(180deg, rgba(69,188,168,.5) 0%, rgba(69,188,168,.8)  100%);
}

body{
    margin: 0;
    background-image: url(/assets/images/background.jpg);
}

/*
Contenedores. Se especifica para main como una clase para todo el conjunto de contenedores con informacion de la ferre
*/
.container{
    position: relative;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    padding: 150px 0px;
}

.container.main{
    min-height: 100vh;
}

.container.main::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--bg-color);
    background: var(--bg-color-gradient);
}

.container.footer{
    padding: 150px 0px;
}

.container.footer::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--bg-color);
    background: var(--bg-color-gradient-footer);
}

/* Estilos para el logo */
.logo{
    background-image: url(/assets/images/logotipo.png);
    width: 512px;
    height: 424px;
}

/*
Contenedor de redes sociales
*/
.social-media-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    position: fixed;
    top: 20px;
    right: 20px;
}

.social-media-container > div{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    border-radius: 32px;
    cursor: pointer;
    transition: font-size 0.1s ease-in-out, color 0.2s ease-in-out;
    color: black;
}

.social-media-container > div:hover{
    font-size: 1.1em;
}

.social-media-container > div.whatsapp:hover{
    color: var(--color-whatsapp);
}

.social-media-container > div.instagram:hover{
    color: var(--color-instagram);
}

.social-media-container > div.facebook:hover{
    color: var(--color-facebook);
}

.social-media-container > div.phone:hover{
    color: var(--color-phone);
}