:root{
    /* Colores */
    --color-facebook: #4267B2;
    --color-instagram:#F77737;
    --color-whatsapp:#25D366;
    --color-whatsapp-hover:#128c7e;
    --color-phone:#009cde;
    --color-phone-hover: #0076ba;
    --bg-color: #45bca8;
    --bg-color-75percent: rgba(69,188,168,.75);
    --bg-color-gradient: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(69,188,168,.75) 100%);
    --bg-color-gradient-footer: linear-gradient(180deg, rgba(69,188,168,.75) 0%, rgba(69,188,168,.9)  100%);
}

html{
    font-family: "Urbanist", sans-serif;
}

body{
    margin: 0;
    background-image: url(/assets/images/background.jpg);
}

/*
Contenedores. Se especifica para main como una clase para todo el conjunto de contenedores con informacion de la ferre
*/
.container{
    position: relative;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    padding: 125px 50px;
}

.container.main{
}

.container.main::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--bg-color);
    background: var(--bg-color-gradient);
    z-index: -1;
}

.container.others::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--bg-color-75percent);
    z-index: -1;
}

.container.footer{
    padding: 25px 0px;
    color: white;
    text-shadow: 2px 2px rgb(0,0,0,.2);
}

.container.footer::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--bg-color);
    background: var(--bg-color-gradient-footer);
    z-index: -1;
}

/* Estilos para el logo */
.logo{
    background-image: url(/assets/images/logotipo.png);
    width: 512px;
    height: 424px;
}

/*
Contenedor de redes sociales
*/
.social-media-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    position: fixed;
    top: 20px;
    right: 20px;
}

.social-media-container > div{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    border-radius: 32px;
    cursor: pointer;
    transition: font-size 0.1s ease-in-out, color 0.2s ease-in-out;
    color: black;
}

.social-media-container > div:hover{
    font-size: 1.1em;
}

.social-media-container > div.whatsapp:hover{
    color: var(--color-whatsapp);
}

.social-media-container > div.instagram:hover{
    color: var(--color-instagram);
}

.social-media-container > div.facebook:hover{
    color: var(--color-facebook);
}

.social-media-container > div.phone:hover{
    color: var(--color-phone);
}

/* Mapa de Google */
.container.map{
    justify-content: inherit;
    padding: 0px;
}

.container.map > iframe{
    margin-top: 10px;
    width: 800px;
    border-radius: 10px;
    box-shadow: 10px 10px rgba(0,0,0,.2);
    border: 2px solid rgba(255,255,255,1);
}

/* Parrafos y titulos */
.title{
    font-size: 1.5em;
    font-weight: 800;
    text-align: center;
    margin: 50px 0px;
}

.subtitle{
    font-size: 1.3em;
    font-weight: 800;
    text-align: center;
    margin: 50px 0px;
}


.description{
    font-size: 1.2em;
    text-align: center;
    margin: 5px;
}

/* Destacados */
.featured{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.featured > div {
    display: grid;
    grid-template-columns: 64px 1fr;
    justify-content: center;
    align-items: center;
    color: white;
    background: var(--bg-color);
    border-radius: 64px;
    box-shadow: 5px 5px rgb(0,0,0,.1);
    border: 2px solid rgba(255,255,255,1);
}

.featured > div > .icon {
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    height: 64px;
}

.featured > div > .text {
    font-size: 1.2em;
    font-weight: 600;
    padding-right: 32px;
}

/* Elementos de contacto */
.buttons-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-top: 50px;
}

.button{
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 64px 1fr;
    gap: 20px;
    color: white;
    padding: 10px 32px;
    border-radius: 16px;
    cursor: pointer;
    box-shadow: 5px 5px rgb(0,0,0,.1);
    border: 2px solid rgba(255,255,255,1);
    overflow: hidden;
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

.button:hover{
    transform: translate(0px,-2px);
    box-shadow: 5px 7px rgb(0,0,0,.1);
}

.button > .icon{
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    height: 64px;
}

.button > .text{
    display: grid;
    gap: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.button > .text > :last-child{
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: 2px;
}

.button::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    transition: background-color 0.2s ease-in-out;
}

.button.whatsapp::before{
    background-color: var(--color-whatsapp);
}

.button.whatsapp:hover::before{
    background-color: var(--color-whatsapp-hover);
}

.button.phone::before{
    background-color: var(--color-phone);
}

.button.phone:hover::before{
    background-color: var(--color-phone-hover);
}