/* Slider */
.logo-carousel {
  overflow: inherit;
  display: grid;
  justify-content: center;
  align-items: center;
}

.slick-initialized .slick-slide {
  display: grid;
  align-items: center;
}

.slick-slide img {
  width: 100%;
}

.slick-track::before,
.slick-track::after {
  display: table;
  content: "";
}

.slick-track::after {
  clear: both;
}

.slick-track {
  padding: 1rem 0;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-loading .slick-slide {
  visibility: hidden;
}
